@using System.Drawing.Imaging
@using FrogRacer.Models

<div class="userMessage">
    <h2>   @ViewBag.message <br /></h2> 
</div>
<div>
    <h3>   @ViewBag.ErrorMessage <br /></h3>
</div>
<div align="center"><h2>Todays line up:</h2></div>

<div style="display: none">
    <audio controls preload="auto" id="playtune">
        <source src="~/Content/Audio/call_to_post.mp3" type="audio/mpeg" />
    </audio>
</div>


<div class="row">
    <form action="/Betting/CalculateFrogRace" method="post">
        <div class="row" align="center">
            <div class="col-md-12">
                <input type="submit" value="Race!" class=" btn btn-success" />
            </div>
        </div>
        @{
            int frogLoopCount = 0;

            List<string> frogNameList = new List<string>();
            frogNameList.Add("frog1");
            frogNameList.Add("frog2");
            frogNameList.Add("frog3");
            frogNameList.Add("frog4");
            frogNameList.Add("frog5");
        }

        @foreach (var frog in ViewBag.frogList)
        {
            string s = "";
            if (frogLoopCount == 4)
            {
                s = "rowbottom";
            }
            <div class="row row2 @s">
                <div class="col-md-1">
                    <br />
                    @{
                        int raceTrackNumber = frogLoopCount + 1;
                    }
                    <h1>@raceTrackNumber</h1>
                </div>

                <div class="col-md-2">
                    <br />
                    @frog.Name
                    <br /><br />
                    <input type="text" name="@frogNameList[frogLoopCount]" placeholder="Place your bet here">
                </div>

                <div class="col-md-6">
                    <img src="~/Content/Images/@frog.ImageName" width="200">
                </div>
            </div>
            frogLoopCount++;
        }

    </form>

</div>

<script language="JavaScript" type="text/javascript">
    var myAudio = document.getElementById('playtune')
    myAudio.oncanplaythrough = function () {this.play();}
</script>
